html
  head
    title= "JSON Data"
  body
    h1= "JSON Data"
    = syntaxHighlighting(content)
    style.
      pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
      .string { color: green; }
      .number { color: darkorange; }
      .boolean { color: blue; }
      .null { color: magenta; }
      .key { color: red; }
